@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  height: 100vh;
  background: #bfc0c0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #bfc0c0), to(#ff6700));
  background: linear-gradient(0deg, #bfc0c0 2%, #ff6700 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .presentacion {
  height: 70%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .presentacion .texto {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}
.banner .presentacion .texto h1 {
  font-size: 7rem;
  font-weight: 1000;
  font-family: "Pacifico", cursive;
  padding-bottom: 5rem;
}
.banner .presentacion .texto h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 5rem;
}
.banner .presentacion .texto .texto__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.banner .presentacion .texto .texto__boton a {
  text-decoration: none;
  color: #3917a8;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
  text-align: end;
  padding: 1.2rem;
  border: 1px solid #54428E;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3917a8), to(#3917a8)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(#3917a8, #3917a8), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.banner .presentacion .texto .texto__boton a:hover {
  color: #fff;
  background-size: 100% 100%, auto;
}
.banner .presentacion .imagen {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .presentacion .imagen .imagen__contenedor {
  height: 35rem;
  width: 35rem;
  overflow: hidden;
  border-radius: 50%;
}
.banner .presentacion .imagen .imagen__contenedor img {
  height: 100%;
}
.banner .custom-shape-divider-bottom-1691191067 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.banner .custom-shape-divider-bottom-1691191067 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 204px;
}
.banner .custom-shape-divider-bottom-1691191067 .shape-fill {
  fill: #FFFFFF;
}

header {
  position: fixed;
  width: 100%;
  height: 6rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav .navbar {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  list-style-type: none;
}
header nav .navbar li {
  padding: 1.5rem;
}
header nav .navbar li a {
  position: relative;
  width: auto;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 1000;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
header nav .navbar li a:hover {
  color: #3917a8;
}
header nav .navbar li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: -0.5rem;
  left: 0;
  background-color: #3917a8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
header nav .navbar li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
header nav .navbar li .seleccionado {
  color: #3917a8;
}
header nav .navbar li .seleccionado::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.abajo {
  top: 0;
  height: 5rem;
  background-color: rgba(255, 102, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
  z-index: 1000;
}

.card__contenedor--sec {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0 2rem 0;
}
.card__contenedor--sec h1 {
  color: #ff6700;
  font-size: 2rem;
  font-weight: 600;
}
.card__contenedor--sec .card__contenedor--div {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__contenedor--sec .card {
  position: relative;
  width: 13rem;
  height: 18rem;
  border: 1px solid #ff6700;
  border-radius: 2rem;
  background-color: #ff6700;
  margin: 2rem;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.card__contenedor--sec .card .front {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 45% 30%;
  grid-template-areas: "titulo" "img" "descripcion";
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 100;
}
.card__contenedor--sec .card .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 45% 30%;
  grid-template-areas: "titulo" "img" "descripcion";
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.card__contenedor--sec .card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #3917a8;
  border: 1px solid #3917a8;
}
.card__contenedor--sec .card:hover .front {
  opacity: 0;
}
.card__contenedor--sec .card:hover .back {
  opacity: 100;
}
.card__contenedor--sec .card .front,
.card__contenedor--sec .card .back {
  width: 100%;
  height: 100%;
  position: absolute;
}
.card__contenedor--sec .card .img {
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.card__contenedor--sec .card img {
  width: 50%;
}
.card__contenedor--sec .card .tittle {
  grid-area: titulo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 1;
  color: aliceblue;
}
.card__contenedor--sec .card .description {
  grid-area: descripcion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 300;
  z-index: 1;
  color: #f0f8ff;
}

.imagen {
  width: 50%;
}

.boton__arriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff6700;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #ff6700;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.boton__arriba svg {
  width: 80%;
  fill: #ffffff;
}

.mostrar {
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.mostrar:hover {
  background-color: #3917a8;
  border: #3917a8;
}

.sobremi {
  height: auto;
  width: 100%;
  padding: 10rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sobremi .contenedor__sobremi {
  width: 60%;
  border: solid 1px #ff6700;
  border-radius: 1rem;
  padding: 4rem 2rem;
  padding-bottom: 2.5rem;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sobremi .contenedor__sobremi .sobremi__title {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #ff6700;
  border-radius: 0.3rem;
  -webkit-box-shadow: -1px -1px 1rem rgba(0, 0, 0, 0.5019607843);
          box-shadow: -1px -1px 1rem rgba(0, 0, 0, 0.5019607843);
}
.sobremi .contenedor__sobremi .sobremi__description {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
.sobremi .contenedor__sobremi .sobremi__redes {
  padding: 3rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sobremi .contenedor__sobremi .sobremi__redes .red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sobremi .contenedor__sobremi .sobremi__redes .red a {
  padding: 0.7rem;
  border-radius: 50%;
  border: 1px solid #ff6700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.sobremi .contenedor__sobremi .sobremi__redes .red a:hover {
  background-color: #ff6700;
}
.sobremi .contenedor__sobremi .sobremi__redes .red a:hover svg {
  fill: #000000;
}
.sobremi .contenedor__sobremi .sobremi__redes .red a svg {
  width: 2rem;
  fill: #ff6700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.proyectos {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  padding: 10rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proyectos .proyecto__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 90%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proyectos .proyecto__contenedor .titulo__contenedor {
  width: 96%;
  text-align: left;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: #ff6700;
  font-weight: 600;
  margin-left: 4rem;
}
.proyectos .proyecto__contenedor .texto__contenedor {
  width: 96%;
  text-align: left;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 4rem;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto {
  position: relative;
  margin: 2rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5019607843);
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto img {
  position: relative;
  width: 30rem;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  z-index: 1;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto:hover::before {
  opacity: 1;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto:hover .contenido__proyecto {
  opacity: 1;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .texto {
  width: 80%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .texto h3 {
  color: #fff;
  font-size: 1.5em;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .texto p {
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a,
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a {
  position: relative;
  border: solid white 1px;
  border-radius: 50%;
  padding: 1rem;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a .repo,
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a .repo {
  width: 2rem;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a .link,
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a .link {
  width: 2rem;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a::before {
  content: "Ver Proyecto";
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  white-space: nowrap;
  background-color: rgba(1, 5, 68, 0.5019607843);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a:hover::before {
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  opacity: 1;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a::before {
  content: "Ver Repositorio";
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  white-space: nowrap;
  background-color: rgba(1, 5, 68, 0.5019607843);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a:hover::before {
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  opacity: 1;
}

footer {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background-color: rgba(255, 102, 0, 0.7960784314);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contenedor__footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .contenedor__footer hr {
  width: 100%;
}
footer .contenedor__footer p {
  padding: 0.5rem 0;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  header nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .navbar {
    padding: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100vh;
    bottom: 0;
    background-color: #ff6600;
    overflow: hidden;
    width: 100%;
    z-index: -1;
    height: calc(100vh - 10rem);
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  header nav .navbar li a {
    font-size: 1.5rem;
    margin: 4rem 0;
  }
  header nav .active {
    top: 0;
  }
  header nav .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 4rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  header nav .toggle .toggle__line {
    width: 100%;
    height: 3px; /* Ajusta la altura de las líneas */
    background-color: #000;
    margin: 2px 0; /* Ajusta el margen para centrar mejor */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header nav .toggle.active .toggle__line--up {
    -webkit-transform: rotate(45deg) translateY(6.8px) scaleX(1.3);
            transform: rotate(45deg) translateY(6.8px) scaleX(1.3);
    margin: 0;
  }
  header nav .toggle.active .toggle__line--down {
    -webkit-transform: rotate(-45deg) translateY(-6.8px) scaleX(1.3);
            transform: rotate(-45deg) translateY(-6.8px) scaleX(1.3);
    margin: 0;
  }
  header nav .toggle.active .toggle__line--mid {
    background-color: transparent;
  }
  .banner .presentacion {
    height: 70%;
    width: 100%;
    padding: 0;
  }
  .banner .presentacion .texto {
    width: 40%;
    padding-left: 1rem;
    text-align: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .presentacion .texto h1 {
    font-size: 4em;
    padding-bottom: 1rem;
  }
  .banner .presentacion .texto h2 {
    font-size: 1rem;
    padding-bottom: 3rem;
  }
  .banner .presentacion .texto .texto__boton {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .banner .presentacion .texto .texto__boton a {
    font-size: 1rem;
    padding: 1rem;
  }
  .banner .presentacion .imagen {
    margin-left: 0.5rem;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .presentacion .imagen .imagen__contenedor {
    width: 14rem;
    height: 14rem;
  }
  .banner .custom-shape-divider-bottom-1691191067 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .banner .custom-shape-divider-bottom-1691191067 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 124px;
  }
  .banner .custom-shape-divider-bottom-1691191067 .shape-fill {
    fill: #FFFFFF;
  }
  .card__contenedor--sec h1 {
    font-size: 1.7rem;
  }
  .card__contenedor--sec .card__contenedor--div {
    width: 100%;
    margin-top: 2rem;
  }
  .card__contenedor--sec .card__contenedor--div .card {
    width: 8rem;
    height: 12rem;
    margin: 1rem;
  }
  .card__contenedor--sec .card__contenedor--div .card img {
    width: 3.7rem;
  }
  .card__contenedor--sec .card__contenedor--div .card .tittle {
    font-size: 1rem;
    font-weight: 500;
  }
  .card__contenedor--sec .card__contenedor--div .card .description {
    text-align: center;
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  .sobremi {
    padding: 4rem 0 0 0;
  }
  .sobremi .contenedor__sobremi {
    width: 70%;
    padding: 3rem 1rem;
    padding-bottom: 2rem;
  }
  .sobremi .contenedor__sobremi .sobremi__title {
    font-size: 1rem;
    font-weight: 500;
  }
  .sobremi .contenedor__sobremi .sobremi__description {
    font-size: 0.8rem;
    padding: 0 2rem;
  }
  .sobremi .contenedor__sobremi .sobremi__redes {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.5rem;
  }
  .sobremi .contenedor__sobremi .sobremi__redes .red a {
    padding: 0.6rem;
    margin: 0.5rem;
  }
  .sobremi .contenedor__sobremi .sobremi__redes .red a svg {
    width: 1.4rem;
  }
  .proyectos {
    padding: 5rem 0 0 0;
    margin: 0;
  }
  .proyectos .proyecto__contenedor {
    width: 90%;
  }
  .proyectos .proyecto__contenedor .titulo__contenedor {
    font-size: 1.5rem;
  }
  .proyectos .proyecto__contenedor .texto__contenedor {
    padding-bottom: 1.8rem;
    font-size: 2rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto {
    width: 18rem;
    margin: 0.5rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto img {
    width: 20rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .texto h3 {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .texto p {
    font-size: 1rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a,
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a {
    padding: 0.7rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a .repo,
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a .repo {
    width: 1.5rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .link--a .link,
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto .contenido__proyecto .contenido__proyecto--links .repo--a .link {
    width: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .banner .presentacion {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .banner .presentacion .imagen {
    display: none;
  }
  .banner .presentacion .texto {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0;
  }
  .banner .presentacion .texto h1 {
    font-size: 4rem;
    padding: 0 1rem;
    padding-bottom: 3rem;
  }
  .banner .presentacion .texto h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
    padding-bottom: 3rem;
  }
  .banner .presentacion .texto .texto__boton {
    margin-bottom: 8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .presentacion .texto .texto__boton a {
    font-size: 1rem;
  }
  .card__contenedor--sec {
    padding-top: 120px;
  }
  .card__contenedor--sec .card__contenedor--div .card {
    margin: 1rem 0.5rem;
  }
  .sobremi {
    padding-top: 120px;
  }
  .sobremi .contenedor__sobremi {
    padding: 3rem 1rem 1rem 1rem;
  }
  .sobremi .contenedor__sobremi .sobremi__title {
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.5rem;
    top: -1rem;
  }
  .sobremi .contenedor__sobremi .sobremi__description {
    font-size: 0.8rem;
    padding: 0;
  }
  .sobremi .contenedor__sobremi .sobremi__redes .red a {
    padding: 0.4rem;
    margin: 0.8rem;
  }
  .sobremi .contenedor__sobremi .sobremi__redes .red a svg {
    width: 1.2rem;
  }
  .proyectos {
    padding-top: 120px;
  }
  .proyectos .proyecto__contenedor {
    width: 80%;
  }
  .proyectos .proyecto__contenedor .titulo__contenedor {
    font-size: 1rem;
  }
  .proyectos .proyecto__contenedor .texto__contenedor {
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proyectos .proyecto__contenedor .contenedor__proyectos--totales .proyecto {
    width: 20rem;
    margin: 1rem 0;
  }
  .boton__arriba {
    z-index: 10;
    width: 2rem;
    height: 2rem;
  }
}