*{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* variables */
$color-principal: #ff6700;
$color-secundario: #3917a8;
$color-terciario: #ffffff;
$color-gris: #bfc0c0;