@media screen and (max-width: 500px){

    .banner{
        .presentacion{
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            .imagen{
                display: none;
            }
            .texto{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0;
                h1{
                    font-size: 4rem;
                    padding: 0 1rem;
                    padding-bottom: 3rem;
                }
                h2{
                    font-size: 1.5rem;
                    padding: 0 1rem;
                    padding-bottom: 3rem;
                }
                .texto__boton{
                    margin-bottom: 8rem;
                    justify-content: center;    
                    a{
                        font-size: 1rem;

                    }
                }
            }
        }

    }
    .card__contenedor--sec{
        padding-top:120px;
        .card__contenedor--div{
            .card{
                margin: 1rem .5rem;
            }
        }
    }
    .sobremi{
        padding-top:120px;
        
        .contenedor__sobremi{
            padding: 3rem 1rem 1rem 1rem;
            .sobremi__title{
                font-size: .6rem;
                font-weight: 500;
                padding: .5rem;
                top: -1rem;
            }
            .sobremi__description{
                font-size: .8rem;
                padding: 0;
            }

            .sobremi__redes{
                .red{
                    a{
                        padding: .4rem;
                        margin: .8rem;
                        svg{
                            width: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .proyectos{
        padding-top:120px;
        .proyecto__contenedor{
            width: 80%;
            .titulo__contenedor {
                font-size: 1rem;
            }
            .texto__contenedor {
                padding-bottom: 2rem;
                font-size: 1.5rem;
            }
            .contenedor__proyectos--totales {
                display: flex;
                flex-wrap: wrap ;
                justify-content: center;
                .proyecto{
                    
                    width: 20rem;
                    margin: 1rem 0 ;
                }
            }
        }
    }
    .boton__arriba{
        z-index: 10;
        width: 2rem;
        height: 2rem;
    }

}

