@media screen and (max-width: 800px) {
    header {
        nav {
            justify-content: end;
            align-items: center;

            .navbar {
                padding: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                top: -100vh;
                bottom: 0;
                background-color: $color-principal;
                overflow: hidden;
                width: 100%;
                z-index: -1;
                height: calc(100vh - 11rem);
                transition: top 0.5s;

                li {
                    a {
                        font-size: 1.5rem;
                        margin: 4rem 0;
                    }
                }
            }

            .active {
                top: 0;
            }

            .toggle {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 4rem;
                width: 30px;
                height: 30px;
                cursor: pointer;

                .toggle__line {
                    width: 100%;
                    height: 3px;
                    /* Ajusta la altura de las líneas */
                    background-color: #000;
                    margin: 2px 0;
                    /* Ajusta el margen para centrar mejor */
                    transition: all 0.3s;
                }
            }

            .toggle.active .toggle__line--up {
                transform: rotate(45deg) translateY(6.8px) scaleX(1.3);
                margin: 0;
            }

            .toggle.active .toggle__line--down {
                transform: rotate(-45deg) translateY(-6.8px) scaleX(1.3);
                margin: 0;
            }

            .toggle.active .toggle__line--mid {
                background-color: transparent;
            }


        }
    }

    .banner {
        background-color: $color-terciario;
        background: linear-gradient(0deg, $color-terciario 8%, $color-principal 80%);
        .presentacion {
            height: 70%;
            width: 100%;
            padding: 0;

            .texto {
                width: 40%;
                padding-left: 1rem;
                text-align: end;
                justify-content: center;

                h1 {
                    font-size: 4em;
                    padding-bottom: 1rem;
                }

                h2 {
                    font-size: 1rem;
                    padding-bottom: 3rem;
                }

                .texto__boton {
                    align-items: center;
                    justify-content: end;

                    a {
                        font-size: 1rem;
                        padding: 1rem;
                    }
                }
            }

            .imagen {
                margin-left: .5rem;
                width: 50%;
                align-items: center;

                .imagen__contenedor {
                    width: 14rem;
                    height: 14rem;
                }
            }


        }

        .custom-shape-divider-bottom-1691191067 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1691191067 svg {
            position: relative;
            display: block;
            width: calc(124% + 1.3px);
            height: 150px;
        }

        .custom-shape-divider-bottom-1691191067 .shape-fill {
            fill: $color-terciario;
        }

    }

    .card__contenedor--sec {
        h1 {
            font-size: 1.7rem;
        }

        .card__contenedor--div {
            width: 100%;
            margin-top: 2rem;

            .card {
                width: 8rem;
                height: 12rem;
                margin: 1rem;

                img {
                    width: 3.7rem;
                }

                .tittle {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .description {
                    text-align: center;
                    font-size: .8rem;
                    padding: 0 .5rem;

                }

            }
        }
    }

    .sobremi {
        padding: 4rem 0 0 0;

        .contenedor__sobremi {
            width: 70%;
            padding: 3rem 1rem;
            padding-bottom: 2rem;

            .sobremi__title {
                font-size: 1rem;
                font-weight: 500;

            }

            .sobremi__description {
                font-size: .8rem;
                padding: 0 2rem;
            }

            .sobremi__redes {
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding-top: 1.5rem;

                .red {
                    a {
                        padding: .6rem;
                        margin: .5rem;

                        svg {
                            width: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .proyectos {
        padding: 5rem 0 0 0;
        margin: 0;

        .proyecto__contenedor {
            width: 90%;

            .titulo__contenedor {
                font-size: 1.5rem;
            }

            .texto__contenedor {
                padding-bottom: 1.8rem;
                font-size: 2rem;
            }

            .contenedor__proyectos--totales {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .proyecto {
                    width: 18rem;
                    margin: .5rem;

                    img {
                        width: 20rem;
                    }

                    .contenido__proyecto {
                        .texto {
                            h3 {
                                font-size: 1.2rem;
                                padding-bottom: .8rem;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }

                        .contenido__proyecto--links {

                            .link--a,
                            .repo--a {
                                padding: .7rem;

                                .repo {
                                    width: 1.5rem;
                                }

                                .link {
                                    width: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}