.boton__arriba {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    background-color: $color-principal ;
    cursor: pointer;
    width: 3rem;    
    height: 3rem;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid $color-principal ;
    svg{
        width: 80%;
        fill: $color-terciario;
        
    }
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.mostrar{
    opacity: 1;
    transition:.5s all;
    &:hover{
        background-color: $color-secundario;
        border: $color-secundario;
        
    }

}