.sobremi{
    height: auto;
    width: 100%;

    padding: 10rem 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contenedor__sobremi{
        width: 60%;
        border: solid 1px $color-principal;
        border-radius: 1rem;
        padding: 4rem 2rem ;
        padding-bottom: 2.5rem;
        position: relative;
        box-shadow: 0 0 10px #00000080;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .sobremi__title{
            position:absolute;
            top: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            padding: .5rem 1rem;
            color: #fff;
            background-color: $color-principal;
            border-radius: .3rem;
            box-shadow: -1px -1px 1rem #00000080;
        }

        .sobremi__description{
            text-align: center;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
        }
        .sobremi__redes{
            padding: 3rem 0 0 0;
            display: flex;
            width: 40%;
            justify-content: space-between;
            align-items: center;
            .red{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    padding: .7rem;
                    border-radius: 50%;
                    border: 1px solid $color-principal;
                    transition: .3s all;
                    &:hover{
                        background-color: $color-principal;
                    }
                    &:hover svg{
                        fill: #000000;
                    }
                    svg{
                        width: 2rem;
                        fill: $color-principal;
                        transition: .3s all;
                    }
                }
            }
        }
    }
}